.numberButton {
    height: 26%;
    width: 30%;
    border-radius: 8px;
    box-shadow: 2px 2px  5px grey;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(95, 95, 95);
}