.calculatorTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5%;
}

.brandName {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: "Yellowtail", cursive;
    font-size: xx-large;
    cursor: default;
}

.solarPanel {
    display: flex;
    background: black;
    border-radius: 8px;
    padding: 3px 0;
    height: 100%;
}


.solarPanelComponent {
    background-color: lightgray;
    height: 100%;
    width: 15px;
    margin-right: 3px;
    border-radius: 4px;
}

#first {
    margin-left: 3px;
}