.screenContainer {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    height: 40%;
    width: 85%;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}

.output {
 font-size: x-large;
}