.screenContainer {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    background-color: rgb(192, 187, 187);
    border-radius: 8px;
    height: 40%;
    width: 85%;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 200px white;
    border: 1px solid black;
}

.output {
 font-size: xxx-large;
 font-family: "Honk", system-ui;
}