.bottomPanelButton {
    width: 30%;
    height: 75%;
    border-radius: 8px;
    box-shadow: 2px 2px  5px grey;
    cursor: pointer;
    background-color: rgb(72, 72, 72);
    border: none;
}

.equals {
    background-color: rgb(231, 101, 21);
}