.rightPanelButton {
    border-radius: 8px;
    width: 90%;
    height: 19.5%;
    margin: 10% 0;
    background-color: rgb(10, 64, 240);
    box-shadow: 2px 2px  5px grey;
    cursor: pointer;
    border: none;
}